<% include partials/header %>
<h1>You've reached the drinks page</h1>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <% drinks.forEach(function(drink){ %>
      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
              <img src='<%= drink.strDrinkThumb %>'>
              <div class="caption">
                  <h4><%= drink.strDrink %></h4>
              </div>
              <p><%= drink.strInstructions %></p>
          </div>
      </div>
  <% }); %>
</div>

<% include partials/footer %>
